.container
  .row
    .col-md-12
      = form_for [@user, @dog], :html => { :role => "form", :multipart => true, id: "new-dog", class: "new_dog dropzone"}, validate: true do |f|
        - if @dog.errors.any?
          #error_explanation
            %h2
              = pluralize(@dog.errors.count, "error")
              prohibited this dog from being saved:
            %ul
              - @dog.errors.full_messages.each do |message|
                %li= message
        .row
          .col-md-5
            .form-group
              Nombre del perro
              %br/
              = f.text_field :name, class: "form-control"

            .form-group
              Edad del perro
              %br/
              = f.text_field :age, class: "form-control"

            .form-group
              Señas Particulares

              %br/
              = f.text_field :particular_signals, class: "form-control"
          .col-md-7

            .form-group
              Breve descripción acerca de tu mascota

              %br/
              = f.text_area :description, class: "form-control", placeholder: "Puedes describir brevemente como es tu mascota o las razones por las cuales lo pones en adopción"



            .form-group
              = f.label :breed_id
              %br/
              = f.collection_select :breed_id, get_breeds, :id, :name, include_blank: false



            .form-actions
              = f.submit 'Ponerlo en adopcion', class: "btn btn-success btn_white_font", id: "sbmtbtn"
              = link_to 'Cancelar', dogs_path, class: "btn btn-danger btn_white_font"
        .row
          .col-md-12
            %h4 Selecciona tu ubicacion
            #map{:style => "width: 100%; height: 500px;"}
            =f.hidden_field :lat
            =f.hidden_field :lng
            -#%input.form-control{:type => "hidden", name: "lat", id: "lat"}
            -#%input.form-control{:type => "hidden", name: "lng", id: "lng"}

        -#.photos
          -#%h4 Sube hasta 5 fotos de tu perro para que los usuarios lo conozcan
          -##dropzonePreview
          -#%br

:javascript
  $(document).ready(function(){
    var dog = #{@dog.to_json}
    getLocation(dog);    // form map for new view (print nothing with possibility of put marker)
    Dropzone.options.newDog = {
      //autoDiscover = false,
      autoProcessQueue: false,
      uploadMultiple: true,
      parallelUploads: 5,
      maxFiles: 5,
      previewsContainer: '#dropzonePreview',
      paramName: "photos[]",

      // The setting up of the dropzone
      init: function() {
        var myDropzone = this;
            //now we will submit the form when the button is clicked

            $("#sbmtbtn").on('click',function(e) {
              e.preventDefault();
              e.stopPropagation();
              $("input").trigger("focusout");
              if ($(".field_with_errors").length >= 1)
              {
                 console.log("Corrige todos los errores antes de continuar");
              }else{
                if (myDropzone.getQueuedFiles().length > 0){
                   myDropzone.processQueue();
                 }else{
                   $("#new-dog").submit();
                 }
              }// this will submit your form to the specified action path
              // after this, your whole form will get submitted with all the inputs + your files and the php code will remain as usual
        //REMEMBER you DON'T have to call ajax or anything by yourself, dropzone will take care of that
            });

          } // init end
    };

  });

