.container
  .row
    .col-md-12
      = form_for @dog, :html => { :role => "form", :multipart => true, id: "new-dog", class: "new_dog dropzone"} do |f|
        - if @dog.errors.any?
          #error_explanation
            %h2
              = pluralize(@dog.errors.count, "error")
              prohibited this dog from being saved:
            %ul
              - @dog.errors.full_messages.each do |message|
                %li= message
        .row
          .col-md-6
            .form-group
              Nombre del perro
              %br/
              = f.text_field :name, class: "form-control"

            .form-group
              Edad del perro
              %br/
              = f.text_field :age, class: "form-control"

            .form-group
              Breve descripción acerca de tu mascota

              %br/
              = f.text_area :description, class: "form-control", placeholder: "Puedes describir brevemente como es tu mascota o las razones por las cuales lo pones en adopción"

            .form-group
              Señas Particulares

              %br/
              = f.text_field :particular_signals, class: "form-control"
            .form-group
              Nombre del propietario

              %br/
              = f.text_field :owner_name, class: "form-control"

            .form-group
              Email del propietario

              %br/
              = f.text_field :owner_email, class: "form-control"
          .col-md-6
            .form-group
              Telefono del propietario
              %br/
              = f.text_field :owner_phone, class: "form-control"

            .form-group
              Contraseña
              .small Crea una contraseña para editar/eliminar esta publicación y saber que tu eres el creador de esta publicación
              %br/
              = f.text_field :password, class: "form-control"

            .form-group
              = f.label :lat
              %br/

              = f.text_field :lat, class: "form-control"

            .form-group
              = f.label :lng
              %br/
              = f.text_field :lng, class: "form-control"

            .form-group
              = f.label :breed_id
              %br/
              = f.collection_select :breed_id, get_breeds, :id, :name, include_blank: false

            .form-group
              =f.hidden_field :anonymous, value: true
            .form-actions
              = f.submit 'Ponerlo en adopcion', class: "btn btn-success btn_white_font", id: "sbmtbtn"
              = link_to 'Cancelar', dogs_path, class: "btn btn-danger btn_white_font"
        .photos
          %h4 Sube hasta 5 fotos de tu perro para que los usuarios lo conozcan
          #dropzonePreview
          %br

:javascript
  $(document).ready(function(){
    Dropzone.options.newDog = {
      autoProcessQueue: false,
      uploadMultiple: true,
      parallelUploads: 5,
      maxFiles: 5,
      previewsContainer: '#dropzonePreview',
      paramName: "photos[]",

      // The setting up of the dropzone
      init: function() {

        var myDropzone = this;
            //now we will submit the form when the button is clicked
            $("#sbmtbtn").on('click',function(e) {
               e.preventDefault();
               myDropzone.processQueue(); // this will submit your form to the specified action path
              // after this, your whole form will get submitted with all the inputs + your files and the php code will remain as usual
        //REMEMBER you DON'T have to call ajax or anything by yourself, dropzone will take care of that
            });

          } // init end
    };
  });

