<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<p>
  <strong>Particular signals:</strong>
  <%= @dog.particular_signals %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @dog.owner_name %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @dog.owner_email %>
</p>

<p>
  <strong>Owner phone:</strong>
  <%= @dog.owner_phone %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @dog.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @dog.lng %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
