.container
  %p#notice= notice
  %p
    %strong Nombre:
    = @dog.name
  %p
    %strong Edad:
    = @dog.age
  %p
    %strong Descripcion:
    = @dog.description
  %p
    %strong Senas particulares:
    = @dog.particular_signals
  %p
    %strong Nombre del propietario:
    = @dog.owner_name
  %p
    %strong Email del propietario:
    = @dog.owner_email
  %p
    %strong Telefono del propietario:
    = @dog.owner_phone
  %p
    %strong Lat:
    = @dog.lat
  %p
    %strong Lng:
    = @dog.lng
  %p
    %strong Raza:
    = @dog.breed.name
  = link_to 'Editar', edit_dog_path(@dog)
  |
  = link_to 'regresar', root_path
