.container
  %p#notice= notice
  %p
    %strong Nombre:
    = @dog.name
  %p
    %strong Edad:
    = @dog.age
  %p
    %strong Descripcion:
    = @dog.description
  %p
    %strong Senas particulares:
    = @dog.particular_signals
  %p
    %strong Raza:
    = @dog.breed.name
