!!!
%html
  %head
    %title Llevame
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
  %body
    %nav.navbar.navbar-default.menu
      .container-fluid
        .navbar-header
          =link_to "Inicio", root_path, class: "navbar-brand"
          =link_to "Acerca de Nosotros", "#", class: "navbar-text"
          =link_to "Donaciones", "#", class: "navbar-text"
        .navbar-header.navbar-right
          - if user_signed_in?
            %p.navbar-text
              Bienvenido #{current_user.name}
            = link_to 'Cerrar sesion', destroy_user_session_path, :method => :delete, class: "navbar-text"
          - else
            %p
              = link_to 'Registrarse', new_user_registration_path, class: "navbar-text"
              = link_to 'Iniciar sesion', new_user_session_path, class: "navbar-text"
    .mycontainer
      = yield
